Source: ipxe-qemu-256k-compat
Section: admin
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Bastian Blank <waldi@debian.org>
Build-Depends:
 debhelper (>> 10), dh-exec,
 xorriso, isolinux, syslinux-common, syslinux-utils, dosfstools, mtools,
 binutils-dev, liblzma-dev, zlib1g-dev,
Standards-Version: 3.9.6
Homepage: http://ipxe.org/
#Vcs-Git: git://git.debian.org/collab-maint/ipxe.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ipxe.git;a=summary

Package: ipxe-qemu-256k-compat-efi-roms
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: PXE boot firmware - Compat EFI ROM images for qemu
 iPXE is network boot firmware.  It supports a variety of network cards,
 including some wireless cards, and variety of network protocols (traditional
 DHCP, BOOTP and TFTP and also HTTP, iSCSI, SAN via FCoE and Infiniband). It
 supports scripting.
 .
 It is possible to use iPXE as a PXE ROM in the network card or to
 chainload it from other boot methods.
 .
 This package provides compat boot code for the qemu emulated network cards
 as boot ROMs for the EFI roms of formerly released Ubuntu qemu machine types.
 Those are only needed for migrations from these older releases.
